.nav-container {
background-color: #1f2a40;
margin-bottom: 2%;
height: 18vh;

  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
border-radius: 4px;
display: flex;
align-items: center;
flex-direction: row;
justify-content: space-between;
}


.nav-container img {
margin-left: 2.5%;

display: flex;
align-items: center;
justify-content: center;
}

.nav-title {
display: flex;
flex-direction: row;
align-items: center;
gap: 20px;
width: 35%;
}


  .nav-title   h2 {
font-size: 2.2rem;

font-family: 'Open Sans';
width: 100%;
color: rgb(255, 255, 255);
}

.nav-container > h2 {
font-family: 'Open Sans';
margin-right: 2.5%;

font-size: 2.2rem;
color: rgb(255, 255, 255);

}


.nav-container > h2 > span {

color: rgb(105, 152, 245);

}


@media (max-width: 1000px) { 

.nav-container > h2 {

display: none;

}

.nav-title {
display: flex;
flex-direction: row;
align-items: center;
gap: 20px;
width: 100%;
}


}


  .nav-title img {

  max-width: 100%;
  height: auto;

}