body {
margin: 0;
background-color: #141b2d;

font-family: "Source Sans Pro", sans-serif;
}

.container {
display: grid;
margin: 0;
grid-template-columns: 17% auto;
padding: 0;

}

.firt-section {
border-radius: 4px;
height: 160vh;
background-color: #1f2a40;
}

li {
  list-style-type: none;
}

.firt-section {

display: flex;

flex-direction: column;
}

.firt-section h6 {
    font-family: Source Sans Pro,sans-serif;
    font-size: 14px;
    font-weight: 100;
    color: #a3a3a3;
    margin: 50px 0 -20px 30px;
}


.firt-section li {
    font-family: Source Sans Pro,sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.6;
    color: #e3e2e2;
    margin: 30px 0 5px 13px;
}

.firt-section   {
padding: 20px;

}

.second-section {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}

.options  {
margin-top: 40px;
display: flex;
width: 100%;
margin-bottom: 20px;
} 

.option {
margin-left: 20px;
height: 10vh;
width: 7vw;
background-color: #1f2a40;
border-radius: 4px;
}

.body-chart-bd {
display: flex;

flex-direction: row;
width: 100%;
align-items: flex-start;

}

.body-chart {
display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
height: 140vh;
margin-left: 20px;
width: 79.3vw;
background-color: #1f2a40;
margin-bottom: 150px;
}

.option {
cursor: pointer;
}

.option:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.option {
display: flex;
justify-content: center;
align-items: center;
}

p {
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
color : rgb(255, 255, 255) ;
height: 0;
}
.icon {
color: rgb(255, 255, 255);

}

.tab-card {

display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}

.opt2 {
background-color: #6998F5;

}
.chart-container {
width: 80%;

}

.charts {
margin-top: 0%;
display: flex;
flex-direction: column;
gap: 50px;
}