body {
margin: 0 0;
background-color: #141b2d;
font-family: "Source Sans Pro", sans-serif;
overflow-x: hidden;
}

.container {
display: grid;
margin: 0;
grid-template-columns: 17% auto;
padding: 0;

}

.firt-section {
border-radius: 4px;
height: 160vh;
background-color: #1f2a40;
}

li {
  list-style-type: none;
}

.firt-section {

display: flex;

flex-direction: column;
}

.firt-section h6 {
    font-family: Source Sans Pro,sans-serif;
    font-size: 14px;
    font-weight: 100;
    color: #a3a3a3;
    margin: 50px 0 -20px 35px;
}


.firt-section li {
    font-family: Source Sans Pro,sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.6;
    color: #e3e2e2;
    margin: 30px 0 5px 13px;
}

.firt-section   {
padding: 20px;

}

.second-section {
display: flex;
flex-direction: column;

}

.options  {
align-items: center;
padding-bottom: 10px;
margin-left: 20px;
overflow-x: auto;
overflow-y: hidden;
width: 90%;
display: flex;
flex-direction: row;
justify-content: space-between;


} 



.option {
margin-top: 50px;
transition: transform 0.3s ease-in-out;
  z-index: 1;
margin-right: 20px;
height: 10vh;
width: 8rem ;
padding: 5px; 
background-color: #1f2a40;
border-radius: 4px;
}

.body-chart-bd {
display: flex;
flex-direction: row;
width: 100%;


}

.body-chart {
border-radius: 4px;
display: flex;
align-items: center;
justify-content: center;
margin-top: 1%;
  background-color: #1f2a40;
  margin-left: 20px;
  width: calc(90% - 40px); /* subtract the padding */
  padding: 20px;
}



.option {
cursor: pointer;
}


.option:hover {
  filter: drop-shadow(0 0 2em #646cffaa);

}

.option {

display: flex;
justify-content: center;
align-items: center;
}

p {
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
color : rgb(255, 255, 255) ;
height: 0;
}
.icon {
color: rgb(255, 255, 255);

}

.tab-card {

display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}

.opt2 {
background-color: #6998F5;

}

.charts {
margin-top: 0%;
width: 100%;
display: flex;
flex-direction: column;
gap: 50px;
}


.options::-webkit-scrollbar-track
{
	border-radius: 10px;
	background-color: #141b2d;
}

.options::-webkit-scrollbar
{
  height: 5px;
	background-color: #141b2d;
}

.options::-webkit-scrollbar-thumb
{
  height: 1px;
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #373e47;
}


@media (max-width: 500px) {
body {
width: fit-content;
height: fit-content;
}
.container {
display: grid;
margin: 0;
grid-template-columns: 1fr;
padding: 0;
}
.firt-section {
display: none;
}

.options {
width: 28%;

}

.body-chart {
    width: calc(28% - 40px);
  }
.option {
width: 6rem ;
padding: 15px;
text-align: center;
}
}

.charts {
display: flex;
justify-content: center;
align-items: center;

}

.body-chart-bd {

display: flex;
align-items: center;

}


@media (min-width: 1501px) and (max-width: 1600px) {
  .body-chart {
    width: calc(75% - 40px);
  }

  .options {
    width: 75%;
  }
}


@media (min-width: 1201px) and (max-width: 1500px) {
  .body-chart {
    width: calc(70% - 40px);
  }

  .options {
    width: 70%;
  }
}

@media (min-width: 1000px) and (max-width: 1201px) {
  .body-chart {
    width: calc(57% - 40px);
  }

  .options {
    width: 57%;
  }
}


@media (min-width: 601px) and (max-width: 1000px) {
  .body-chart {
    width: calc(45% - 40px);
  }

  .options {
    width: 45%;
  }
}

@media (min-width: 501px) and (max-width: 850px) {
 
body {
width: fit-content;
height: fit-content;
}
.container {
display: grid;
margin: 0;
grid-template-columns: 1fr;
padding: 0;
}
.firt-section {
display: none;
}

.options {
width: 35%;

}

.body-chart {
    width: calc(35% - 40px);
  }
.option {
width: 6rem ;
padding: 15px;
text-align: center;
}

}