body {
margin: 0 0;
background-color: #141b2d;
font-family: "Source Sans Pro", sans-serif;
overflow-x: hidden;

}

.burger-icon {
position: fixed;
top: 0;
z-index: 10000000000;
left: -130%;
}

.container {
display: grid;
margin: 0;
grid-template-columns: 13vw auto;
padding: 0;
}

.firt-section {
border-radius: 4px;
height: 160vh;
background-color: #1f2a40;
}

li {
  list-style-type: none;
}

.firt-section {

display: flex;

flex-direction: column;
}

.firt-section h6 {
    font-family: Source Sans Pro,sans-serif;
    font-size: 14px;
    font-weight: 100;
    color: #a3a3a3;
    margin: 50px 0 -20px 35px;
}


.firt-section li {
    font-family: Source Sans Pro,sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.6;
    color: #e3e2e2;
    margin: 30px 0 5px 13px;
}

.firt-section   {
padding: 20px;

}

.second-section-inner {
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
margin-left: 40px;
}

.second-section {
display: flex;
flex-direction: column;
}

.options  {
  display: flex;
  flex-direction: row;
  align-items: center;
  overflow-x: auto; /* Enable horizontal scrollbar when overflow occurs */
  overflow-y: hidden;
  padding-bottom: 10px;
  width: 80vw;
} 



.option {
  margin-right: 20px; /* Creates a 20px gap between each item */
  margin-top: 50px;
  transition: transform 0.3s ease-in-out;
  z-index: 1;
  width: 150px;
  height: 100px;
  background-color: #1f2a40;
  border-radius: 4px;
}



.body-chart {

  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1%;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  background-color: #1f2a40;
  padding: 50px;
}










.option {
cursor: pointer;
}


.option:hover {
  filter: drop-shadow(0 0 2em #646cffaa);

}

.option {
display: flex;
justify-content: center;
align-items: center;

}

p {
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
color : rgb(255, 255, 255) ;
height: 0;
}
.icon {
color: rgb(255, 255, 255);

}

.tab-card {

display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}

.opt2 {
background-color: #6998F5;

}

.charts {
margin-top: 0%;
width: 100%;
display: flex;
flex-direction: column;
gap: 50px;
}


.options::-webkit-scrollbar-track
{
	border-radius: 10px;
	background-color: #141b2d;
}

.options::-webkit-scrollbar
{
  height: 5px;
	background-color: #141b2d;
}

.options::-webkit-scrollbar-thumb
{
  height: 1px;
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #373e47;
}




.charts {
display: flex;
justify-content: center;
align-items: center;

}

.body-chart-bd {
  position: relative;
   width: 80vw;
  max-width: 80vw;
}

.burger-icon {

display: none;
}

.map-container {

position: relative;
}



@media (max-width: 1000px) {

body {
display: flex;
align-items: center;
justify-content: center;
}

.second-section-inner {

margin: 0px;
}




.burger-icon {
left: 0;
}



.firt-section {
position: absolute;
background-color: #172135;
z-index: 1000;
width: 100vw;
left: -120%;

transition: left 0.3s ease-in-out;

}

.toggle-side {
left: 0;
}


.open {
display: block;
}

.toggle-side {
margin-left: 0%;
}

  .container {
    grid-template-columns: 1fr;
    align-items: center;
    justify-content: center;
  }


}

.side-element {
color: white;
}

.firt-section {
padding: 50px 0px;
}

.side-element {
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
cursor: pointer;
display: flex;
height: 80px;

flex-direction: row;
width: 100%;
align-items: center;

gap :25px ;
}

.side-element >* {
margin-left: 5%;
}

.side-element:hover     {
background-color: rgba(209, 215, 228, 0.2);

}



#legend {
  display: block;
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: #fff;
  padding: 10px;
  font-family: Arial;
  z-index: 1;
}

.legend-key {
  display: inline-block;
  border-radius: 3px;
  width: 10px;
  height: 10px;
  margin-right: 5px;
}


