/* src/Map.css */
.map-container {
position: relative;
  height: 80vh;
  width: 100%;
}

.toggle {
   position: absolute;
  --toggle-width: 60px;
  --toggle-height: 30px;
  --toggle-offset: 7px;
  top: 16%;
left: 65%;
  --toggle-outer-default: #207ace;
  --toggle-outer-active: #1cf074;
  --toggle-inner-default: #ffffff;
  --toggle-inner-active: #fff;
  
  --toggle-transition: 200ms ease-out;
}

.toggle input {
  display: none;
}

.toggle label {
  position: relative;
  display: inline-flex;
  align-items: center;
  
  width: var(--toggle-width);
  height: var(--toggle-height);
  
  background-color: var(--toggle-outer-default);
  border-radius: 100vw;
  
  cursor: pointer;
  transition: var(--toggle-transition);
}

.toggle input:checked + label {
  background-color: var(--toggle-outer-active);
}

.toggle label::before {
  content: "";
  position: absolute;
  top: var(--toggle-offset);
  left: var(--toggle-offset);
  bottom: var(--toggle-offset);
  
  aspect-ratio: 1 / 1;
  
  background-color: var(--toggle-inner-default);
  border-radius: 50%;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.05);
  transition: var(--toggle-transition);
}

.toggle input:checked + label::before {
  background-color: var(--toggle-inner-active);
  transform: translateX(
    calc(var(--toggle-width) - var(--toggle-height))
  );
}






/* general reset */



/* for accessibility */
.sr-only {
	border: 0 !important;
	clip: rect(1px, 1px, 1px, 1px) !important;
	-webkit-clip-path: inset(50%) !important;
		clip-path: inset(50%) !important;
	height: 1px !important;
	margin: -1px !important;
	overflow: hidden !important;
	padding: 0 !important;
	position: absolute !important;
	width: 1px !important;
	white-space: nowrap !important;
}


@media (min-width: 1000px) { 

.toggle {

top: 10%;
left: 75%;
}

}





.select-dropdown {
  position: relative;
  background-color: #ffffff;
  width: auto;
  float: left;
  max-width: 100%;
  border-radius: 2px;
}

.select-dropdown select {
  font-family: "helvetica neue", helvetica;
  font-size: 1rem;
  font-weight: 200;
  max-width: 100%;
  padding: 8px 24px 8px 10px;
  border: none;
  background-color: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.select-dropdown select:active,
.select-dropdown select:focus {
  outline: none;
  box-shadow: none;
}

.select-dropdown:after {
  content: " ";
  position: absolute;
  top: 50%;
  margin-top: -2px;
  right: 8px;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #aaa;
}
