/* src/Map.css */
.map-container {
position: relative;
  height: 80vh;
  width: 100%;
}


.mapboxgl-popup {
    display: flex;
    font-family: 'Arial', sans-serif;
position: relative;
    color: #000000;
    border-radius: 4px;
    padding: 10px 30px;
    box-shadow: 0px 1px 20px rgba(0, 0, 0, 0.1);
}





.mapboxgl-popup-content  p  {
    width: 100%;
    font-size: 16px;
    color: #000000;
    line-height: 0;
}

.mapboxgl-popup-close-button {
position: absolute;
top: 0;
left: 0;
box-shadow: #000000;
border: none;
color: #000000cb;
border-radius: 3px;
font-size:20px ;
background-color: #ffffff;
outline: none;
cursor: pointer;
}

.mapboxgl-popup-close-button:hover {
color: #0000008e;
}

.toggle {
  --toggle-width: 60px;
  --toggle-height: 30px;
  --toggle-offset: 7px;
  --toggle-outer-default: #207ace;
  --toggle-outer-active: #1cf074;
  --toggle-inner-default: #ffffff;
  --toggle-inner-active: #fff;
  
  --toggle-transition: 200ms ease-out;
}

.toggle input {
  display: none;
}

.toggle label {
  position: relative;
  display: inline-flex;
  align-items: center;
  
  width: var(--toggle-width);
  height: var(--toggle-height);
  
  background-color: var(--toggle-outer-default);
  border-radius: 100vw;
  
  cursor: pointer;
  transition: var(--toggle-transition);
}

.toggle input:checked + label {
  background-color: var(--toggle-outer-active);
}

.toggle label::before {
  content: "";
  position: absolute;
  top: var(--toggle-offset);
  left: var(--toggle-offset);
  bottom: var(--toggle-offset);
  
  aspect-ratio: 1 / 1;
  
  background-color: var(--toggle-inner-default);
  border-radius: 50%;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.05);
  transition: var(--toggle-transition);
}

.toggle input:checked + label::before {
  background-color: var(--toggle-inner-active);
  transform: translateX(
    calc(var(--toggle-width) - var(--toggle-height))
  );
}






/* general reset */



/* for accessibility */
.sr-only {
	border: 0 !important;
	clip: rect(1px, 1px, 1px, 1px) !important;
	-webkit-clip-path: inset(50%) !important;
		clip-path: inset(50%) !important;
	height: 1px !important;
	margin: -1px !important;
	overflow: hidden !important;
	padding: 0 !important;
	position: absolute !important;
	width: 1px !important;
	white-space: nowrap !important;
}



.select-type {
width: 70%;
gap: 50px;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column-reverse;
position: absolute;
top: 5%;
left: 50%;
z-index: 1000000000;
}


.select-dropdown {
  z-index: 1000000000000000000;
  position: relative;
  background-color: #ffffff;
  width: 300px;
  float: left;

  border-radius: 2px;
}

.select-dropdown select {
  font-family: "helvetica neue", helvetica;
  font-size: 14px;
  font-weight: 200;
  min-width: 100%;
  padding: 8px 24px 8px 10px;
  border: none;
  background-color: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.select-dropdown select:active,
.select-dropdown select:focus {
  outline: none;
  box-shadow: none;
}

.select-dropdown:after {
  content: " ";
  position: absolute;
  top: 50%;
  margin-top: -2px;
  right: 8px;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #aaa;
}

.show-fatal {
display: none;
}

.toggle {
gap: 30px;
display: flex;
align-items: center;
justify-content: center;
}

.toggle p  {

margin-top: -2%;
}



@media (max-width: 1000px) { 

.select-type {
width: 70%;
gap: 50px;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column-reverse;
position: absolute;
top: 2%;
left: 15%;
z-index: 1000000000;
}


}

/* CSS for the popup */
.mapboxgl-popup {
  position: absolute;
top: 10px;
  background-color: #fff;

}




.popup {

  padding: 10px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-family: Arial, sans-serif;
  font-size: 14px;
  z-index: 1;
}

.popup h3 {
  margin: 0 0 5px;
  font-size: 16px;
}

.popup p {
color: black;
  margin: 0;
}
